<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <settings>
        <setting useStatementNamespaces="true"/>
        <setting cacheModelsEnabled="false"/>
        <setting validateSqlMap="false"/>
        <setting useReflectionOptimizer="false"/>
        <setting preserveWhitespace="false"/>
    </settings>
    <providers uri="file://providers.config"/>
    <database>
        <provider name="SQLite3"/>
        <dataSource name="ibatisnet.sqlmap" connectionString="Data Source=ibatisnet.sqlite;Version=3;"/>
    </database>
    <alias>
        <typeAlias alias="Account" type="MyBatis.DataMapper.Sqlite.Test.Domain.Account, MyBatis.DataMapper.Sqlite.Test"/>
        <typeAlias alias="OuiNonBool" type="MyBatis.DataMapper.Sqlite.Test.Domain.OuiNonBoolTypeHandlerCallback, MyBatis.DataMapper.Sqlite.Test"/>
    </alias>
    <sqlMaps>
        <sqlMap uri="file://${basePath}Maps/Account.xml"/>
        <sqlMap uri="file://${basePath}Maps/DynamicAccount.xml"/>
        <sqlMap uri="file://${basePath}Maps/Order.xml"/>
        <sqlMap uri="file://${basePath}Maps/SQLiteCategory.xml"/>
        <sqlMap uri="file://${basePath}Maps/Complex.xml"/>
        <sqlMap uri="file://${basePath}Maps/SQLiteLineItem.xml"/>
        <sqlMap uri="file://${basePath}Maps/Enumeration.xml"/>
        <sqlMap uri="file://${basePath}Maps/Other.xml"/>
        <sqlMap uri="file://${basePath}Maps/ParameterClass.xml"/>
        <sqlMap uri="file://${basePath}Maps/ResultClass.xml"/>
        <sqlMap uri="file://${basePath}Maps/NewsPaper.xml"/>
        <sqlMap uri="file://${basePath}Maps/Document.xml"/>
        <sqlMap uri="file://${basePath}Maps/EmbedParameter.xml"/>
        <sqlMap uri="file://${basePath}Maps/Nullable.xml"/>
        <sqlMap uri="file://${basePath}Maps/Simple.xml"/>
        <sqlMap uri="file://${basePath}Maps/ConstructorInjection.xml"/>
        <sqlMap uri="file://${basePath}Maps/GroupByMapping.xml"/>
        <sqlMap uri="file://${basePath}Maps/Coupons.xml"/>
        <sqlMap uri="file://${basePath}Maps/ParentChild1.xml"/>
        <sqlMap uri="file://${basePath}Maps/ParentChild2.xml"/>
        <sqlMap uri="file://${basePath}Maps/Iterate.xml"/>
        <sqlMap uri="file://${basePath}Maps/ComplexBindNestedIterate.xml"/>
    </sqlMaps>
</sqlMapConfig>
